<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert captcha</title>
</head>
<body>
<%= "DEBUG: " + @phrase %>
<form action="/captcha" method="get">
    <input type="text" name="captcha_input" placeholder="Please insert captcha code"/>
    <button type="submit">Check captcha</button>
</form>
</body>
</html>
