<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert captcha</title>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="main.css"/>
</head>
<body class="secured">
<div class="secured">
    Willkommen im gelobten Land :)
</div>
</body>
</html>